.grid_item{

    font-size: 36px;
    border: 3px solid gray
}


header{
    background-image: url(../images/BACHK8.jpg);
    height: 500px;
    background-repeat: repeat-x;
    background-size: 70rem;
}

body{
background-color: rgb(66, 66, 128);
grid-area: body;
}



.gradient{
    background-image: linear-gradient(to top, rgb(198, 239, 11), rgb(54, 183, 230));
}

.transform p{
    width: 200px;
    height: 30px;
    background-color: rgb(190, 126, 42);
    color: black;
    
}


.transform {
    width: 280px;
    height: 100px;
    background-color: rgb(89, 184, 152);
    color: rgb(107, 70, 141);
    transform: skewY(20deg) translateX(100px) ;
}

h1 { 
color:rgb(181, 34, 181);
}


header h2{
    color:rgb(81, 157, 5)
}

input{
    border-color: rgb(31, 218, 143);
}

h5{
    color:rgb(25, 13, 137)
}


h2{
    color:brown
}

p{
    color: rgb(55, 10, 74);
}

section ul{
    color:goldenrod
}

h4{
    color:blue
}

 h4{
    color:rgb(30, 152, 152)
}

footer h4{
    color: rgb(91, 31, 147);
}

main{
    color:black
}



section ol{
    color:rgb(225, 12, 12);
}